.mainPage {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100%;
}

.mainPage header {
    display: flex;
    height: 30vh;
    justify-content: space-between;
    padding: 10px 20px;
}