.form {
    width: 300px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px
}

.error {
    --error: rgb(202, 41, 41);
    color: var(--error);
    padding: 10px 5px;
}

.logInButton {
    display: flex;
    gap: 8px;
    width: 100%;
    max-height: 40px;
}